//-------variable--------------------------
//-------colors----------------------------
$light-color-1: #ffffff;
$light-color-2: #a5a8ad;

$dark-color-1: #000000;
$dark-color-2: #74767a;
$dark-color-3: #a5a8ad;
$dark-color-4: #e6e9f0;

$blue-color-1: #1d3bcc;
$blue-color-2: #081857;

//-------backgrounds-----------------------
$bg-light-color-1: #ffffff;
$bg-light-color-2: #f5f6fa;
$bg-light-color-3: #f0f3fa;

//-------bright background colors-----------
$bg-bright-color-1: #061f99;

//-------background gradients-----------------------
$gradient-value-1: linear-gradient(90deg, #7800ff 0%, #7800ff 100%);
$gradient-value-2: linear-gradient(90deg, #004bff 0%, #1d3bcc 100%);
$gradient-value-3: linear-gradient(90deg, #eb2343 0%, #eb2343 100%);
$gradient-value-4: linear-gradient(90deg, #ffcc00 0%, #ffcc00 100%);

//-------shadows---------------------------
$shadow-1: 0 1px 50px 0px #0000ff11;
