// slide from left
.slideEnter {
  transform: translateX(100%);
}

.slideEnterActive {
  transform: translateX(0);
  transition: transform 0.3s 0.15s;
}

.slideExit {
  transform: translateX(0);
}

.slideExitActive {
  transform: translateX(100%);
  transition: transform 0.2s;
}

// slide from right
.slideRightEnter {
  transform: translateX(-100%);
}

.slideRightEnterActive {
  transform: translateX(0);
  transition: transform 0.3s 0.15s;
}

.slideRightExit {
  transform: translateX(0);
}

.slideRightExitActive {
  transform: translateX(-100%);
  transition: transform 0.2s;
}
