.services {
  .main {
    margin: 20px 0;
    h2 {
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.875rem;
      color: #fff;
    }
    .list {
      display: flex;
      flex-direction: column;
      margin-top: 0.8rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        .icon {
          min-height: 8rem;
          min-width: 8rem;
          position: relative;
          border-radius: 5rem;
          display: flex;
          font-size: 30px;
          font-weight: 900;
          justify-content: center;
          align-items: center;
          background: linear-gradient(
            180deg,
            hsla(0, 0%, 100%, 0.029),
            hsla(0, 0%, 100%, 0.06) 50%,
            hsla(0, 0%, 100%, 0)
          );
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
              linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
            background: linear-gradient(
              180deg,
              hsla(0, 0%, 100%, 0.06),
              hsla(0, 0%, 100%, 0.15) 50.52%,
              hsla(0, 0%, 100%, 0)
            );
          }
        }
        div {
          h4 {
            text-align: center;
            font-size: 1.125rem;
            margin: 10px 0;
            font-weight: 700;
            line-height: 1.25rem;
            color: #fff;
          }
          p {
            line-height: 1rem;
            text-align: center;
            font-size: 0.875rem;
            font-family: sans-serif;
          }
        }
      }
    }
  }
}

@media (min-width: 480px) {
  .services {
    .main {
      h2 {
        font-size: 2rem;
        text-align: left;
      }
      .list {
        .card {
          flex-direction: row;
          align-items: start;
          div {
            margin-left: 20px;
            h4 {
              text-align: left;
              font-size: 1.25rem;
              line-height: 1.563rem;
            }

            p {
              text-align: left;
              font-size: 1rem;
              line-height: 1.25rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .services {
    .main {
      padding: 40px 0;
      h2 {
        font-size: 2.5rem;
        text-align: center;
      }
      .list {
        flex-direction: row;
        justify-content: space-between;
        .card {
          flex-direction: column;
          align-items: center;
          width: 235px;
          div {
            margin-left: 0;
            h4 {
              text-align: center;
              font-size: 1.25rem;
              line-height: 1.563rem;
            }

            p {
              text-align: center;
              font-size: 1.125rem;
              line-height: 1.25rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .services {
    .main {
      padding: 60px 0;
      .list {
        margin-top: 2.5rem;
        .card {
          width: 310px;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .services {
    .main {
      padding: 80px 0;
      .list {
        margin-top: 2.5rem;
        .card {
          width: 450px;
          div {
            h4 {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
